*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 1400px;
    margin: 0 auto;
}
ul{
    display: flex;
    gap: 80px;
    list-style: none;
    margin-left: 70px;
}
.header-wrapper{
    display: flex;
    align-items: center;
    margin-left: 8rem;
}
.kids{
    width: 54px;
    height: 51px;
    margin-left: 5rem;
}
.stray{
    width: 137px;
    height: 118px;
    margin-right: 8rem;
}
.any{
    font-family: 'Inter';
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    margin-left: 7rem;
    margin-top: 4rem;
}
.button{
    width: 222px;
    height: 62px;
    border-radius: 40px;
    border: 5px solid #fbf10d;
    background-color: #fbf10d;
    box-shadow: 0px 10px 40px rgba(18, 18, 18, 0.1);
    margin-left: 10rem;
    margin-top: 4rem;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
}
.button2{
    width: 222px;
    height: 62px;
    border-radius: 40px;
    border: 5px solid #fbf10d;
    background-color: #fbf10d;
    box-shadow: 0px 10px 40px rgba(18, 18, 18, 0.1);
    margin-left: 35rem;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
}
.christmas{
    width: 403px;
    height: 436px;
    margin-left: 12rem;
    margin-top: -25rem;
}
.evel{
    width: 380px;
    height: 288px;
    margin-top: 10rem;
    margin-left: 55rem;
}
.stray2{
    width: 1170px;
    height: 10px;
    border-radius: 10px;
    border: 5px solid #FBF10D;
    margin-top: 10rem;
    margin-left: 5rem;
}
.han{
    width: 26px;
    height: 26px;
    margin-left: 5rem;
    margin-top: 2rem;
}
.chan{
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 200;
    line-height: 29px;
    margin-left: 8rem;
    margin-top: -2rem;
}
.han-2{
    width: 33px;
    height: 33px;
    margin-left: 5rem;
    margin-top: 2rem;
}
.chan-2{
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
    line-height: 39px;  
    margin-left: 8rem;
    margin-top: -2.5rem;
}
.han-3{
    width: 32px;
    height: 24px;
    margin-left: 5rem;
    margin-top: 2rem;
}
.chan-3{
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
    line-height: 39px;
    margin-left: 8rem;
    margin-top: -2.5rem;
}
.han-4{
    width: 32px;
    height: 23px;
    margin-left: 5rem;
    margin-top: 2rem;
}
.chan-4{
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
    line-height: 39px;
    margin-left: 8rem;
    margin-top: -2.5rem;
}