*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 1400px;
    margin: 0 auto;
}
ul{
    display: flex;
    gap: 80px;
    list-style: none;
    margin-left: 70px;
}
.header-wrapper{
    display: flex;
    align-items: center;
    margin-left: 8rem;
}
.kids{
    width: 54px;
    height: 51px;
    margin-left: 5rem;
}
.stray{
    width: 137px;
    height: 118px;
    margin-right: 8rem;
}
.box{
    width: 668px;
    height: 339px;
    border: 5px solid #FBF10D;
    box-shadow: 0px 10px 40px rgba(18, 18, 18, 0.1);
    margin-left: 8rem;
    margin-top: 7rem;
}
.maddy{
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    padding-left: 14rem;
    padding-top: 1rem;
}
.water{
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    padding-left: 8rem;
    padding-top: 2rem;
}
.button{
    width: 270px;
    height: 53px;
    border-radius: 30px;
    border: 5px solid #FBF10D;
    background-color: #FBF10D;
    box-shadow: 0px 10px 40px rgba(18, 18, 18, 0.1);
    margin-left: 11rem;
    margin-top: 3rem;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
}
.lee{
    width: 445px;
    height: 455px;
    margin-left: 55rem;
    margin-top: -24rem;
}
.stray2{
    width: 1170px;
    height: 10px;
    border-radius: 10px;
    border: 5px solid #FBF10D;
    margin-top: 10rem;
    margin-left: 5rem;
}
.han{
    width: 26px;
    height: 26px;
    margin-left: 5rem;
    margin-top: 2rem;
}
.chan{
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 200;
    line-height: 29px;
    margin-left: 8rem;
    margin-top: -2rem;
}
.han-2{
    width: 33px;
    height: 33px;
    margin-left: 5rem;
    margin-top: 2rem;
}
.chan-2{
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
    line-height: 39px;  
    margin-left: 8rem;
    margin-top: -2.5rem;
}
.han-3{
    width: 32px;
    height: 24px;
    margin-left: 5rem;
    margin-top: 2rem;
}
.chan-3{
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
    line-height: 39px;
    margin-left: 8rem;
    margin-top: -2.5rem;
}
.han-4{
    width: 32px;
    height: 23px;
    margin-left: 5rem;
    margin-top: 2rem;
}
.chan-4{
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
    line-height: 39px;
    margin-left: 8rem;
    margin-top: -2.5rem;
}